streamlit
earthengine-api
geopandas
folium
streamlit-folium
streamlit-oauth
httpx-oauth
python-dotenv
pandas
numpy
requests
gdown
openpyxl
google-api-python-client
google-auth-oauthlib
shapely
pyproj
fiona
webbrowser