streamlit==1.32.2
earthengine-api==0.1.397
geopandas==0.14.3
folium==0.14.0
streamlit-folium==0.15.1
streamlit-oauth==0.8
httpx-oauth==0.10.0
python-dotenv==1.0.1
pandas==2.2.1
numpy==1.26.4
requests==2.31.0
gdown==4.7.3
openpyxl==3.1.2
google-api-python-client==2.119.0
google-auth-oauthlib==1.2.0
shapely==2.0.3
pyproj==3.6.1
fiona==1.9.6